{% extends "base.html" %}

{% block content %}
<!-- Formulaire pour ajouter un nouvel instrument -->
<div class="mb-4">
    <h3 class="text-secondary fst-italic mt-2">Ajouter un Nouvel Instrument</h3>
    <form action="{{ url_for('main.add_instrument') }}" method="POST">
        <div class="form-group mb-3">
            <input type="text" name="new_instrument_name" class="form-control" placeholder="Nom de l'Instrument" required>
        </div>
        <div class="form-group mb-3">
            <input type="text" name="new_instrument_type" class="form-control" placeholder="Type de l'Instrument" required>
        </div>
        <div class="form-group mb-3">
            <input type="text" name="new_instrument_secteur" class="form-control" placeholder="Secteur">
        </div>
        <div class="form-group mb-3">
            <input type="text" name="new_instrument_code_isin" class="form-control" placeholder="Code ISIN">
        </div>
        <div class="form-group mb-3">
            <input type="text" name="new_instrument_devise" class="form-control" placeholder="Devise">
        </div>
        <div class="form-group mb-3">
            <input type="number" name="new_instrument_prix_actuel" class="form-control" placeholder="Prix Actuel" step="0.01">
        </div>
        <div class="form-group mb-3">
            <input type="number" name="new_instrument_volatilite" class="form-control" placeholder="Volatilité" step="0.01">
        </div>
       
        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
{% endblock %}
