{% extends "base.html" %}

{% block content %}
<div class="mb-4">
    <h2 class="text-secondary fst-italic mt-2">Ajouter une Nouvelle Position</h2>
    <form action="{{ url_for('main.add_position') }}" method="POST">
        <div class="form-group mb-3">
            <select name="instrument_id" class="form-control" required>
                <option value="" disabled selected>Choisir un Instrument</option>
                {% for instrument in instruments %}
                <option value="{{ instrument.id }}">{{ instrument.nom_instrument }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3">
            <input type="number" name="quantite" class="form-control" placeholder="Quantité" required>
        </div>
        <div class="form-group mb-3">
            <input type="number" name="prix_achat" step="0.01" class="form-control" placeholder="Prix d'Achat" required>
        </div>
        <div class="form-group mb-3">
            <input type="date" name="date_achat" class="form-control" placeholder="Date d'Achat" required>
        </div>
        <div class="form-group mb-3">
            <input type="number" name="prix_actuel" step="0.01" class="form-control" placeholder="Prix Actuel" required>
        </div>
        <div class="form-group mb-3">
            <input type="number" name="valeur_totale" step="0.01" class="form-control" placeholder="Valeur Totale" required>
        </div>
        <div class="form-group mb-3">
            <input type="number" name="rendement" step="0.01" class="form-control" placeholder="Rendement (%)" required>
        </div>
        <div class="form-group mb-3">
            <input type="date" name="date_derniere_transaction" class="form-control" placeholder="Date Dernière Transaction" required>
        </div>
        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
{% endblock %}
