<!--  
 Ce fichier  affiche des informations sur les positions d'un fonds spécifique dans une table
-->
{% extends "base.html" %}

{% block content %}
<h2>Positions pour le Fond {{ fond_id }}</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Instrument</th>
            <th>Quantité</th>
            <th>Prix d'Achat</th>
            <th>Date d'Achat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for position in positions %}
        <tr>
            <td>{{ position.id }}</td>
            <td>{{ position.instrument.nom_instrument }}</td>
            <td>{{ position.quantite }}</td>
            <td>{{ position.prix_achat }}</td>
            <td>{{ position.date_achat }}</td>
            <td>
                <!-- Formulaire de mise à jour -->
                <form action="{{ url_for('main.update_position_route', position_id=position.id) }}" method="POST" class="d-inline">
                    <input type="number" name="new_quantite" value="{{ position.quantite }}" class="form-control mb-2">
                    <input type="text" name="new_prix_achat" value="{{ position.prix_achat }}" class="form-control mb-2">
                    <input type="date" name="new_date_achat" value="{{ position.date_achat }}" class="form-control mb-2">
                    <button type="submit" class="btn btn-primary">Mettre à jour</button>
                </form>

                <!-- Bouton de suppression -->
                <form action="{{ url_for('main.delete_position_route', position_id=position.id) }}" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
