<!--  
 Ce fichier  affiche des informations sur les positions d'un fonds spécifique dans une table
-->
{% extends "base.html" %}

{% block content %}
<div class="mb-4">
    <a href="{{ url_for('main.ajout_position') }}" class="btn btn-primary">Ajouter une Position</a>
</div>

<h2 class="text-primary fw-bold mb-3">Positions pour le Fond {{ fond.nom_fond }} (ID: {{ fond.id }})</h2>


<table class="table table-striped table-sm table-bordered">
    <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Instrument</th>
            <th>Quantité</th>
            <th>Prix d'Achat</th>
            <th>Date d'Achat</th>
            <th>Prix Actuel</th>
            <th>Valeur Totale</th>
            <th>Rendement</th>
            <th>Date Dernière Transaction</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for position in positions %}
        <tr>
            <td>{{ position.id }}</td>
            <td class="text-nowrap">{{ position.instrument.nom_instrument }}</td>
            <td>{{ position.quantite }}</td>
            <td>{{ position.prix_achat }}</td>
            <td>{{ position.date_achat.strftime('%Y-%m-%d') }}</td>
            <td>{{ position.prix_actuel }}</td>
            <td>{{ position.valeur_totale }}</td>
            <td>{{ position.rendement }}</td>
            <td>{{ position.date_derniere_transaction.strftime('%Y-%m-%d') if position.date_derniere_transaction else 'N/A' }}</td>
            <td class="text-nowrap">
                <!-- Formulaire de mise à jour -->
                <form action="{{ url_for('main.update_position_route', position_id=position.id) }}" method="POST"class="d-inline">
                    <input type="number" name="new_quantite" value="{{ position.quantite }}" class="form-control mb-2" placeholder="quantite" step="0.01">
                    <input type="number" name="new_prix_achat" value="{{ position.prix_achat }}" class="form-control mb-2" placeholder="prix achat" step="0.01">
                    <input type="date" name="new_date_achat" value="{{ position.date_achat.strftime('%Y-%m-%d') }}" class="form-control mb-2" placeholder="date_achat">
                    <input type="number" name="new_prix_actuel" value="{{ position.prix_actuel }}" class="form-control mb-2" placeholder="prix_actuel" step="0.01">
                    <input type="number" name="new_valeur_totale" value="{{ position.valeur_totale }}" class="form-control mb-2" placeholder="valeur_totale" step="0.01">
                    <input type="number" name="new_rendement" value="{{ position.rendement }}" class="form-control mb-2" placeholder="rendement" step="0.01">
                    <input type="date" name="new_date_derniere_transaction" value="{{ position.date_derniere_transaction.strftime('%Y-%m-%d') if position.date_derniere_transaction else '' }}" placeholder="date_derniere_transaction"class="form-control mb-2">
                    <button type="submit" class="btn btn-primary">Mettre à jour</button>
                </form>

                <!-- Bouton de suppression -->
                <form action="{{ url_for('main.delete_position_route', position_id=position.id) }}" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
